@charset "UTF-8";

.custom-row {
  width: 100%;
}

.custom-col-left-sidebar {
  //border-right: 1px solid #ccc;
  height: 100%;
  //line-height: 130px;
  text-align: left;
  margin-top: -10px;
  margin-right: 5px;
}

.custom-col-right-sidebar {
  //border-right: 1px solid #ccc;
  height: 100%;
  //line-height: 130px;
  text-align: left;
  margin-top: 0px;
  margin-left: 5px;
}

.custom-col-content {
  overflow: hidden;
  width: 100%;
  margin-top: -10px;
}

.custom-label {
  background-color: transparent;
}

.next-tree.next-node-indent .next-tree-node-label {
  background-color: transparent;
  color: #000000;
 }

.next-tabs.next-medium .next-tabs-tab-inner {
  font-size: 14px;
  padding: 0px 16px; 
  color: #fff;
}

.next-tabs-capsule > .next-tabs-bar .next-tabs-tab {
  background: #444;
}

.next-tabs-capsule > .next-tabs-bar .next-tabs-tab.active {
  background: #222;
}

.next-tree-node-inner:hover {
  background: #222;
}

.next-tree-node-inner:active {
  background: #222;
}

.next-tree.next-node-indent .next-tree-node-inner.next-selected .next-tree-node-label {
  background-color: #444;
}

.next-tree.next-node-indent .next-tree-node-label:hover {
  background-color: #444;
}

.next-input {
  width: 100%;
  height: 30px;
  border-radius: 0;
}

.next-btn.next-btn-primary {
  border-radius: '2px';
  background-color: #5c67f2;
}

.next-input.next-input-textarea textarea {
  background-color: #222;
  color: #fff;
  border-radius: 0px;
  border-top: 2px solid #111;
}

.next-input.next-input-textarea {
  border: none;
  resize: none;
  cursor: pointer;
}

.next-shell-light .next-shell-main {
  background: #222;
  color: #fff;
}

.next-tree-switcher.next-line {
  background-color: #222;
}